<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="headFragment">
<meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
	<link rel="icon" href="/bootstrap/img/favicon.ico"  type="image/ico" />
	<link rel="shortcut icon" href="/bootstrap/img/favicon.ico" type="image/ico" />
    <!-- Css Styles -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/style.css" type="text/css">
        <link rel="stylesheet" href="/bootstrap/css/custom.css" type="text/css">


    
   </th:block>
<body>

</body>
</html>