<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">
<script th:src="@{/bootstrap/js/jquery-3.3.1.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/bootstrap/js/jquery-ui.min.js}"></script>
<script th:src="@{/bootstrap/js/mixitup.min.js}"></script>
<script th:src="@{/bootstrap/js/jquery.countdown.min.js}"></script>
<script th:src="@{/bootstrap/js/jquery.slicknav.js}"></script>
<script th:src="@{/bootstrap/js/owl.carousel.min.js}"></script>
<script th:src="@{/bootstrap/js/jquery.nicescroll.min.js}"></script>
<link rel="shortcut icon" href="@{/favicon.ico}" type="image/x-icon">
<script th:src="@{/bootstrap/js/main.js}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" >
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</th:block>
</html>